body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #e9ecef;
}

.login{
    background: url("../src/images/login-bg.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: -webkit-fill-available;
    position: absolute;
    top: 7%;
    width: -webkit-fill-available;
}

.box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:rgba(0, 0, 0, 0.75)!important;
    text-align: center;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box p{
    color: red;
    text-transform: uppercase;
    font-weight: 100;
    margin: auto;
}

.box input[type = "email"],.box input[type = "password"]{
    border: 0;
    background: none;
    display:block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type ="email"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.box input[type ="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    width: 150px;
    
}

.box input[type = "submit"]:hover {
    background: #2ecc71;
}

/** Leave page - History Page - Admin Page Tables*/
.leave_table,.leave_table_main {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.leave_table thead tr,.leave_table_main thead tr{
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}

.leave_table th,.leave_table td,.leave_table_main th,.leave_table_main td {
    padding: 12px 15px;
}

.leave_table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.leave_table tbody tr:nth-of-type(even),.leave_table_main tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.leave_table tbody tr:last-of-type,.leave_table_main tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.leave_table tbody tr{
    font-weight: bold;
    color: black;
}

.leave_table_main tbody tr{
    font-weight: bold;
    color: #191919;
}

.leave_table_h2 {
    color:black;
}

.history_table_h2 {
    color:black;
}

.h2-align{
    text-align: center;
}

.warning_text {
    color: red;
}



.nav-link.active{
    background-color: #303136 !important;
    color: #fff !important;
}

.nav-tabs{
    border-bottom: 1px solid #a7acb1 !important;
}

.nav-tabs > li > a{
border: medium none;
}

.nav-tabs > li > a:hover{
background-color: rgba(0, 0, 0, 0.15) !important;
    color:#fff !important;
    cursor: pointer;
}

/** Nav bar show in responsive mode */
.mb-5 {
    z-index: 1;
}